body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none !important;
  margin: 0 !important;
}

.content ul li:first-of-type {
  border-top: 1px solid #ddd;
}

.content ul li {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

h3 {
  margin: 0 !important;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.button-reset {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: rgba(133, 11, 11, 0.9);
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}

.button-add {
  width: 200px;
  height: 40px;
  background-color: rgba(89, 77, 197, 0.9);
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
}